.container {
  display: flex;
  align-items: center;
  position: relative;
}

.icon_contain {
  position: absolute;
  display: flex;
  align-items: center;
  pointer-events: none;
  padding: 0 10px;
}

.icon_contain > svg {
  color: var(--primary-light);
}

.input_contain {
  background: #3e4754;
  border-radius: 10px;
}

.input {
  padding: 10px 10px 10px 44px;
  outline: none;
  border: none;
  background: transparent;
  color: var(--primary-light);
}

.input::placeholder {
  color: var(--primary-light);
  letter-spacing: 0.75px;
}
