*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-dark: #222831;
  --secondary-dark: #393e46;
  --primary-contrast: #00adb5;
  --primary-light: #eeeeee;
}

html,
body {
  scroll-behavior: smooth;
}

.btn {
  border: none;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--secondary-dark);
}

.btn:hover {
  border-bottom: 1px solid var(--secondary-dark);
}

.footer {
  width: 100%;
  text-align: center;
  background-color: rgb(43, 43, 43);
  margin-top: 16px;
}

.footer > p {
  padding: 20px 0;
  font-size: 0.85rem;
  color: rgb(172, 172, 172);
}
